@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #e07e06;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "VVZOQmVuWHVhblCLlRURg";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/uvnbenxuan_b-20240502170726--zg9j.ttf")
    format("truetype");
}

body {
  color: black;
  background: white;
  font-family: Arial, Helvetica, sans-serif;
  /* width: 100vw; */
}

#header {
  position: fixed;
}

#logo {
  background-image: url("/images/favicon.png");
  background-position: center;
  background-size: contain;
  border-radius: 100%;
}

#SECTION1 {
  height: 740px;
}

#SECTION1 .section-background {
  background-image: url("/images/HTM08750.JPG");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100%;
  height: 100%;
}

.vt-headline {
  font-family: VVZOQmVuWHVhblCLlRURg;
}

#SECTION2 .name {
  font-family: VVZOQmVuWHVhblCLlRURg;
  font-size: 35px;
  color: var(--orange);
}



#SHAPE1 svg:last-child, #SHAPE27 svg:last-child, #SHAPE20 svg:last-child {
  fill: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  #SECTION1 .section-background {
    background-image: url("/images/HTM08782.JPG");
  }
}
