@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Itim&family=Dancing+Script:wght@400;700&family=Mulish:wght@400;700&family=Play:wght@400;700&family=Philosopher:wght@400;700&family=Quicksand:wght@400;700&family=Montserrat:wght@400;700&family=Niramit:wght@400;700&family=Sriracha&family=Exo:wght@400;700&family=Muli:wght@400;700&family=Roboto:wght@400;700&family=Baloo+Bhaina+2:wght@400;700&family=Roboto+Slab:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #e07e06;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "VVZOQmVuWHVhblCLlRURg";
  src: url("https://w.ladicdn.com/5c728619c417ab07e5194baa/uvnbenxuan_b-20240502170726--zg9j.ttf")
    format("truetype");
}

/* img,
video {
  max-width: none;
  height: auto;
} */

body {
  color: black;
  background: white;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
  padding-bottom: 80px;
  cursor: grab;
  /* width: 100vw; */
}

#header {
  position: fixed;
}

#logo {
  background-image: url("/images/favicon.png");
  background-position: center;
  background-size: contain;
  border-radius: 100%;
}

#SECTION1 {
  height: 740px;
}

#SECTION1 .section-background {
  background-image: url("/images/HTM08750.JPG");
  background-repeat: repeat;
  background-position: center;
  background-size: auto 100%;
  height: 100%;
}

.vt-headline {
  font-family: VVZOQmVuWHVhblCLlRURg;
}

.page-width {
  max-width: 380px;
  margin: 0px auto;
}

.scale {
  transition: all 300ms;
}

.scale:hover {
  transform: scale(1.02);
}

.scale-extra {
  transition: all 300ms;
}

.scale-extra:hover {
  transform: scale(1.05);
}

.scale-medium {
  transition: all 300ms;
}

.scale-medium:hover {
  transform: scale(1.03);
}

.section-title {
  font-family: VVZOQmVuWHVhblCLlRURg;
  font-weight: bold;
  line-height: 1.6;
  color: #bb6a07;
  text-align: center;
  font-size: 45px;
}

.section-sub-heading {
  font-size: 13px;
  @apply text-[#BB6A07] text-center w-[326px] mx-auto mt-2 md:mt-4 scale md:text-[20px] md:w-full;
}

@media (min-width: 768px) {
  #SECTION1 .section-background {
    background-image: url("/images/HTM08782.JPG");
  }

  .page-width {
    max-width: 960px;
  }

  .section-title {
    font-size: 65px;
  }
}
